name: Svelte Check

on: [pull_request]

permissions:
  pull-requests: write

jobs:
  svelte-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install
        run: bun install

      - name: Copy .env
        run: cp .env.example .env

      - name: Svelte Check
        run: bun run check
